.searchContainer {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.searchContainer input {
  border: none;
  border-radius: 10px;
  color: black;
  background-color: lightgrey;
  width: 30vw;
  min-width: 250px;
  padding: 20px 0;
  font-size: 1.25rem;
  text-align: center;
}

.searchContainer input::placeholder {
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}