.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}

.listHeader {
    height: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
    flex-shrink: 0;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    overflow-y: auto;
    min-height: 120px;
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editButton {
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
}

.editButtonActive {
    background-color: hsl(120, 80%, 20%);
    color: white;
}

.editButtonInactive {
    background-color: hsl(0, 80%, 40%);
    color: white;
}

.icon,
[type="checkbox"] {
    width: 20px;
    height: 20px;
}

[type="checkbox"] {
    margin: 0;
}

.clearButton {
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    background-color: transparent;
}

.selectBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.selectBox span {
    padding-top: 2px;
}