.card {
    background-color: lightgray;
    width: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    min-width: 20px;
    accent-color: #0366d6;
    position: absolute;
    top: 10px;
    left: 10px;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.identification {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2rem;
    margin: 1rem 0;
}

.identification>p {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

.linkContainer {
    text-decoration: none;
}

button.link {
    background-color: #0d82f0;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    font-size: 0.75rem;
}