.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px ;
    height: 55vh; /* TODO */
    overflow-y: scroll;
}

/* -------------------- Messages d'État -------------------- */

.infoMessage, .noResultsMessage, .errorMessage, .loadingMessage {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}

.infoMessage {
    background-color: #f0f8ff;
    color: #007bff;
    border: 1px solid #b3d9ff;
}

.noResultsMessage {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.errorMessage {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.loadingMessage {
    background-color: #e2e6ea;
    color: #495057;
    border: 1px solid #dae0e5;
}

.suggestion {
    font-size: 0.9em;
    color: #6c757d;
    margin-top: 5px;
}

/* -------------------- Entête des Résultats -------------------- */
.resultsHeader {
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.selectionCount {
    color: #007bff;
    font-weight: 700;
    margin-left: 8px;
}
