
:root {
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

header, .searchContainer {
  height: 64px;
  flex-shrink: 0;
}

header {
  background-color: gray;
  display: flex;
  justify-content: center;
  width: 100%;
}

header h1 {
  font-size: 1.25rem;  
  margin: auto;
}

