* {
  transition: all 0.5s ease-in-out;
}

:root {
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

header {
  height: 64px;
  background-color: gray;
  display: flex;
  justify-content: center;
  width: 100%;
}

header h1 {
  font-size: 1.25rem;  
  margin: auto;
}

.edit-section {
  background-color: green;
  margin: 15px auto;
  padding: 20px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid black;
}
